/* Nav */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: #fff;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

.navbar > * {
  margin: 0 1rem;
}