/* Nav */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: #fff;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

.navbar > * {
  margin: 0 1rem;
}

.container {
  align-items: center;
  text-align: center;
}

/* Container for each recipe */
.recipe-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 60px;
}
